<%= form_with model: @car, data: {controller: :fields, nested_form_wrapper_selector_value: '.nested-form-wrapper'} do |form| %>
    <div class="car_field">
        <%= form.label :brand, "Brand:" %>
        <%= form.text_field :brand %>
    </div>

    <div class="car_field">
        <%= form.label :model, "Model:" %>
        <%= form.text_field :model %>
    </div>

    <template data-fields-target="template">
        <%= form.fields_for :variants, Variant.new, child_index: 'VARIANT' do |variants_fields| %>
            <%= render "variant_fields", f: variants_fields %>
        <% end %>
    </template>

    <%= form.fields_for :variants do |variants_fields| %>
        <%= render "variant_fields", f: variants_fields %>
    <% end %>

    <div data-fields-target="target"></div>

    <%= button_tag "Add Variant", data: {action: "fields#add"} %>

    <%= form.submit %>
<% end %>