<div class="fields_wrapper" data-new-record="<%= f.object.new_record? %>">
    <div class="variants_field">
        <%= f.label :variation, "Variation:" %>
        <%= f.text_field :variation %>
    </div>
    
    <div class="variants_field">
        <%= f.label :top_speed, "Top Speed:" %>
        <%= f.text_field :top_speed %>
    </div>
    
    <div class="variants_field">
        <%= f.label :price, "Price ($):" %>
        <%= f.text_field :price %>
    </div>
    
    <%= button_tag "Remove Variant", data: {action: "fields#remove"} %>
    
    <%= f.hidden_field :_destroy %>
</div>